<main>
  Good afternoon, <%= locals.username %>!<br />
  You have paid an access to Maksaks CRM.<br />
  Please confirm your email by following the link.<br />
  <a href="<%= urlConfirmAddress %>">CONFIRM MY EMAIL</a>
</main>
